<h1>Survey</h1>

<div class="instructions">
<% if @operational %>
  <%= link_to "Begin operational span", new_memory_survey_path(subject: @survey.subject, questions: @questions), data: { turbolinks: false } %>
<% else %>
  <p>Thank you for participating. Your surveys are now complete.</p>
<% end %>
</div>
