<h1>Operational Span</h1>

<p id="notice"><%= notice %></p>

<p class="instructions">You will be redirected to the Reading Span in 5 seconds.</p>

<meta HTTP-EQUIV="REFRESH" content="5; url=<%= new_reading_survey_path %>?subject=<%= @survey.subject %>">
