/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.instructions {
  text-align: center;

  .example-inputs {
    color: blue;
    font-size: 24px;
    text-align: center;
  }
}

#notice {
  text-align: center;
}

.survey {
  text-align: center;

  p {
    display: none;
  }

  .operand, .number {
    color: blue;
    font-size: 24px;
    text-align: center;
  }

  .operand {
    width: 15px;
  }

  .number {
    width: 55px;
  }

  .sentence_display {
    width: 250px;
    text-align: center;
  }
}

button {
  font-size: 24px;
}

h1 {
  text-align: center;
}
